header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    z-index:1000;

    transition:.4s;

}

header.scrolled{

    backdrop-filter:blur(18px);

    background:rgba(255,255,255,.9);

    box-shadow:0 5px 25px rgba(0,0,0,.08);

}

.navbar{

    height:90px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo img{

    width:170px;

}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    position:relative;

    color:var(--text);

    font-weight:500;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:.35s;

}

.nav-links a:hover::after{

    width:100%;

}

.nav-links a:hover{

    color:var(--primary);

}

/* ==========================
   HAMBURGER
========================== */

.hamburger{

    display:none;

    flex-direction:column;

    gap:6px;

    cursor:pointer;

}

.hamburger span{

    width:28px;

    height:3px;

    background:var(--text);

    border-radius:50px;

    transition:.35s;

}

/* Animation */

.hamburger.active span:nth-child(1){

    transform:rotate(45deg) translateY(13px);

}

.hamburger.active span:nth-child(2){

    opacity:0;

}

.hamburger.active span:nth-child(3){

    transform:rotate(-45deg) translateY(-13px);

}

/* ==========================
   ACTIVE NAV LINK
========================== */

.nav-links a.active{

    color: var(--primary);

    font-weight: 600;

}

.nav-links a.active::after{

    width:100%;

}