/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--font);
    background:var(--white);
    color:var(--text);
    overflow-x:hidden;
    line-height:1.7;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.container{

    width:min(90%,1200px);

    margin:auto;

}

section{

    padding:100px 0;

}

/* ===========================
   BUTTONS
=========================== */

.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:16px 36px;

    border-radius:50px;

    background:var(--primary);

    color:white;

    font-weight:600;

    transition:.35s;

    box-shadow:var(--shadow);

}

.btn:hover{

    transform:translateY(-5px);

    background:var(--primary-dark);

}

.btn-outline{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:16px 36px;

    border-radius:50px;

    border:2px solid var(--primary);

    color:var(--primary);

    transition:.35s;

}

.btn-outline:hover{

    background:var(--primary);

    color:white;

}

.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}